<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>SEEMode.XSLT</string>
	<key>CFBundleName</key>
	<string>XSLT</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2016 THEMA-MEDIA
http://www.THEMA-MEDIA.nl</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>CFBundleGetInfoString</key>
	<string>0.1, Copyright THEMA-MEDIA 2016</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>SEEMinimumEngineVersion</key>
	<string>0.1</string>
</dict>
</plist>
